*{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
}
body{
	font-family: 'DM Sans', sans-serif;
	min-width: 1440px;

}
.header, .footer{
	display: flex;
	background: rgba(255, 113, 67, 0.27);
	margin: o auto;
	max-width: 100%;
	padding: 38px 48px;
	max-height: 145px;
}
.footer{
	padding: 53px 48px;
}
.logo{
	padding-right: 167px;
}
.nav{
	padding-top: 18px;
}
.nav__li{
	display: inline-block;

}
.nav__linc{
	text-decoration: none;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.468947px;
	color: #696871;
}
.nav__linc:hover{
	color: #19191B;
	transition: 300ms;
	
}
.nav__li:not(:first-of-type){
	margin-left: 49px;

}
.container{
	display: flex;
}

.about__left{
	margin-left: 191px;
	max-width: 467px;
	margin-top: 134px;


}
.about__title{
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 80px;
	line-height: 77px;
	letter-spacing: -2.50105px;
	color: #19191B;
}
.about__text{
	margin-bottom: 50px;
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.625263px;
	color: #696871;


}
.btn {
	width: 212px;
	height: 60px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 17px;
	/*padding: 20px 60px;*/
	line-height: 22px;
	background-color: #5454D4;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.btn:hover{
	background-color: #2f2fcd;

	transition: 500ms;
}

.btn_orange{
	background-color: #FF7143;
	margin-left: 160px;

}
.btn_orange:hover{
	background-color: #ef5b2a;
	transition: 500ms;

}
.btn_white {
	margin-left: 35px;
	color: #5454D4;
	background-color: #FFFFFF;
	border: 1px solid #5454D4;
}
.btn_white:hover{
	background-color: #FFFFFF; 
	border: 1px solid #0c0cd4;
	color: #0c0cd4;
	transition: 500ms;

	
}
.man{
	padding-right: 204px;
	padding-top: 104px;
}
.navdown{
	padding-left: 537px;
}





.twosection{
	margin-top: 116px;
	display: flex;
	margin: 116px 185px;
	width: 100%;
}
.img1{
	margin: 84px 0 212px;
}.form{
	margin-left: 171px;
}
.text{
	margin-top: 159px;
	font-weight: 700;
	font-size: 50px;
	line-height: 57px;
	letter-spacing: -1.56316px;
	color: #19191B;
}
.email{
	margin-right: 39px;
	margin-top: 38px;
	width: 302px;
	height: 60px;
	border: 1px solid #7087FF;
	border-radius: 10px;
	padding-left: 14px;
}

.sec3{
	margin-top: 85px;
	margin-left: 185px;
	margin-right: 185px;
}
.get{
	/*display: inline;*/
	max-width: 504px;
	margin: 0 auto 110px 0;
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: -1.87579px;
	color: #19191B;
}
.three_ul{
	margin: auto auto;
	display: flex;
	justify-content: space-between;
	
}
.lii{
	text-align: center;
	border-radius: 10px;
	border: 1px solid black;
	width: 330px;
	height: 441px;
}
.lii:not(:first-of-type){
	margin-left: 40px;

}
.first_line{
	font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: -0.562737px;

color: #696871;
}
.second_line{
	font-style: normal;
	font-weight: 700;
font-size: 60px;
line-height: 56px;

/* identical to box height, or 93% */
letter-spacing: -1.03448px;

color: #1D293F;
}